@import "tailwindcss";
@import "tw-animate-css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240, 240, 240;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* For mobile sidebar toggle functionality */
@media (max-width: 768px) {
  .sidebar-open {
    transform: translateX(0);
  }
  
  .sidebar-closed {
    transform: translateX(-100%);
  }
}
